::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
body {
  background-image: url(../images/blueberry.jpg);
  z-index: 1;
}
ul {
  list-style-type: none;
}
li:hover {
 cursor: pointer
}
.content {
  max-width: 50em;
  margin: auto;
  margin-bottom: 7em;
}
.banner {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto Slab', cursive;
}
.item-entry {
  max-width: 20em;
  margin: auto;
}
#submit{
  height: 1.5em;
  font-size: 20px;
  float:left;
}
.add {
  height: 2em;
  width: 5em;
  border-radius: 5px;
  margin: 5px;
}
.instructions {
  font-family: 'Shadows Into Light Two', serif;
  font-size: .80em;
  text-align: center;
  font-weight: bold;
  color: #FFBD20;
}
.instructions span {
  text-decoration: underline;
  font-size: 1.5em;
}
.items {
  height: 20em;
  max-width: 30em;
  margin: auto;
  background-color: #B095B2;
  margin-top: 2em;
  border-radius: 30px;
  overflow: scroll;
  font-family: 'Shadows Into Light Two', serif;
  color: #fff;
  font-size: 1.25em;
}
.delete {
  color: red;
  font-weight: bold;
  border-radius: 90px;
  font-size: .5em;
  margin-left: 4em;
}
.box {
  float: left;
  background-image: url('../images/box.png');
  height: 1em;
  width: 1em;
  background-size: 100%;
}
.checked {
  background-image: url('../images/checked.png'); 
}
.delete {
  background-image: url('../images/delete.png');
  float: right;
  height: 2em;
  width: 2em;
  background-size: 100%;
  display: none;
  margin-right: 20em;
}
.show {
  display: inline;
}
.two {
  text-decoration: line-through;
}
.icon-credit{
  color: #fff;
  margin: 4em;
  text-align: center;
}
a:link {
  color: black;
}